section.about {
  margin: 15% 0;
  display: flex; }
  section.about .left, section.about .right {
    margin: 3rem; }
  section.about .left img {
    max-width: 45rem; }
  section.about .right {
    display: flex;
    flex-direction: column;
    align-items: center; }
  section.about .right .container .title {
    font-size: 3rem; }
